#about {
  background: linear-gradient(darken(white, 5%), darken(white, 15%));
  margin: 0 auto;
  max-width: 100rem;
  width: 100%;
  .about-overlay {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4rem 2rem 0 2rem;
    width: 80%;
    .about-overlay-left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      .about-bio {
        display: none;
      }
      .about-chef {
        display: flex;
        justify-content: space-around;
        h3 {
          text-align: center;
        }
        .about-chef-image {
          display: flex;
          .chef-name {
            align-items: center;
            border-bottom: 4px solid grey;
            border-top: 4px solid grey;
            display: flex;
            font-size: 2rem;
            padding: 0 2rem;
          }
          img {
            border: 2px solid grey;
            border-radius: 50%;
            height: 6rem;
            width: 6rem;
          }
        }
      }
    }
    .about-overlay-right {
      padding: 2rem;
      img {
        max-width: 100%;
      }
    }
  }
  .about-awards {
    margin: 0 auto;
    padding-bottom: 4rem;
    text-align: center;
    width: 80%;
  }
}

@media (min-width: $desktop-breakpoint) {
  #about {
    .about-overlay {
      flex-direction: row;
      padding: 4rem 0 2rem 0;
      .about-overlay-left {
        width: 50%;
        .about-bio {
          display: block;
          text-align: center;
        }
        .about-chef {
          margin: 0 auto;
        }
      }
      .about-overlay-right {
        padding-right: 0;
        width: 50%;
      }
    }
  }
}