.header {
  header {
    background: rgba(128, 128, 128, 0.8);
    font-size: $m-size;
    margin: 0 auto;
    max-width: 80rem;
    position: fixed;
    z-index: 2;
    left: 0; right: 0; top: 0; // allows flexbox to work despite position: fixed
    .header__content {
      display: flex;
      justify-content: space-evenly;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: darken(grey, 20%);
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    header {
      font-size: $ml-size;
    }
  }
}