.header {
  header {
    background: rgba(128, 128, 128, 0.8);
    height: 2.5rem;
    position: fixed;
    z-index: 2;
    left: 0; right: 0; top: 0; // allows flexbox to work despite position: fixed
    .header__content {
      display: flex;
      justify-content: space-evenly;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: darken(grey, 20%);
      }
    }
  }
  img {
    padding-top: 2.5rem;
    width: 100%;
  }
}