.landing-image {
  background-image: url('/Images/landing-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  margin: 0 auto;
  padding-top: 66%; // 3456 / 5184
  width: 100%;
  img {
    max-width: 90%;
    opacity: 0.7;
    margin-left: 2%;
    margin-top: -63%;
    padding-top: 2.5rem;
    position: absolute;
  }
}

.angkor-temples-image {
  background-image: url('/Images/temples-of-angkor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  margin: 0 auto;
  padding-top: 53.125%; // 510 / 960
  width: 100%;
}

@media (min-width: 60rem) {
  .landing-image, .angkor-temples-image {
    padding-top: 0;
    width: 100rem;
  }
  .landing-image {
    height: 66rem;
    img {
      margin-left: 1rem;
      margin-top: 0;
      //padding-left: 1rem;
      padding-top: 5rem;
    }
  }
  .angkor-temples-image {
    height: 53.125rem;
  }
}