#menu {
  background: linear-gradient(darken(grey, 20%), darken(grey, 35%));
  color: white;
  padding: 2rem 0;
  .menu-header, .menu-footer {
    width: 100%;
    .menu-section-text {
      margin: 5vw 10vw;
      padding: 2vw 0;
      text-align: center;
      .desktop-only {
        display: none;
      }
    }
  }
  .menu-footer {
    padding-bottom: 0.1vh;
    .spice-levels {
      display: grid;
      grid-template-columns: auto auto;
      margin: 0 auto;
      max-width: 25rem;
      text-align: left;
      .spice-level {
        text-align: center;
        margin: 0;
        padding-right: 0;
      }
    }
  }
  .menu-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .menu-sections {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 auto;
      height: 211px;
      text-align: center;
      width: 20rem;
      .menu-option {
        font-size: 2rem;
        padding: 0.5vh 0;
      }
      .menu-option:visited {
        color: $clicker-inactive;
      }

      .menu-option:hover {
        color: $clicker-active;
      }
      .hovered {
        color: $clicker-active;
      }
    }
    .menu-contents {
      margin: 0 auto;
      padding: 3vh 0;
      width: 80%;
      .menu-hidden {
        display: none !important;
      }
      .menu-section {
        background: white;
        color: black;
        display: block;
        .menu-item {
          max-width: 32rem;
          padding: 0 5vw;
          .menu-item-title {
            font-size: 1.5rem;
            font-weight: bold;
            padding: 3vh 0;
          }
          .menu-item-contents {
            font-size: 1.5rem;
            padding-bottom: 3vh;
            .menu-item-option {
              display: block;
              text-align: right;
              .menu-item-price {
                font-weight: bold;
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
  .peanut-icon {
    height: 18px;
    width: 18px;
  }
  .spice-icon {
    height: 20px;
    width: 25px;
  }
  .spice-icon-narrow {
      margin-left: -15px;
  }
}

@media (min-width: $desktop-breakpoint) {
  #menu {
    .menu-header, .menu-footer {
      .menu-section-text {
        .desktop-only {
          display: inline;
        }
      }
    }
    .menu-main {
      flex-direction: row;
      .menu-sections {
        margin: 5rem 0 0 auto;
      }
      .menu-contents {
        margin: 0 auto 0 0;
        width: 30rem;
      }
    }
    .peanut-icon {
      height: 18px;
      width: 18px;
    }
    .spice-icon {
      height: 20px;
      width: 25px;
    }
    .spice-icon-narrow {
        margin-left: -15px;
    }  
  }
}