#menu {
  background: linear-gradient(darken(grey, 20%), darken(grey, 35%));
  color: white;
  margin: 0 auto;
  max-width: 100rem;
  padding: 2rem 0;
  .menu-header, .menu-footer {
    width: 100%;
    .menu-section-text {
      margin: 2rem 2rem 1rem 2rem;
      padding: 2rem 0;
      text-align: center;
      .desktop-only {
        display: none;
      }
    }
  }
  .menu-footer {
    padding-bottom: 0.1rem;
    .spice-levels {
      display: grid;
      grid-template-columns: auto auto;
      margin: 0 auto;
      max-width: 25rem;
      text-align: left;
      .spice-level {
        text-align: center;
        margin: 0;
        padding-right: 0;
      }
    }
  }
  .menu-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .menu-sections {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 auto;
      text-align: center;
      width: 20rem;
      .menu-option {
        font-size: 2rem;
        padding: 0.5rem 0;
        text-align: center;
        .menu-section-display {
          display: inline-block;
          width: 135px;
        }
        .menu-previous, .menu-next {
          cursor: pointer;
          font-weight: bold;
        }
        .menu-previous { margin-right: 1rem; }
        .menu-next { margin-left: 1rem; }
      }
    }
    .menu-contents {
      margin: 0 auto;
      max-width: 280px;
      padding: 3rem 0;
      width: 80%;
      .menu-hidden {
        display: none !important;
      }
      .menu-section {
        background: white;
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 280px;
        padding-bottom: 2rem;
        .menu-item {
          max-width: 28rem;
          padding: 0 2rem;
          .menu-item-title {
            font-size: 1.5rem;
            font-weight: bold;
            padding: 3rem 0;
          }
          .menu-item-contents {
            font-size: 1.5rem;
            padding-bottom: 3rem;
            .menu-item-option {
              display: block;
              text-align: right;
              .menu-item-price {
                font-weight: bold;
                padding-left: 1rem;
              }
            }
          }
          .extras {
            display: flex;
            flex-wrap: wrap;
            .menu-item-option {
              .menu-item-price {
                font-weight: bold;
                padding: 0 2rem;
              }
            }
          }
        }
      }
    }
  }
  .peanut-icon {
    height: 18px;
    width: 18px;
  }
  .spice-icon {
    height: 20px;
    width: 25px;
  }
  .spice-icon-narrow {
      margin-left: -15px;
  }
}

@media (min-width: $desktop-breakpoint) {
  #menu {
    .menu-header, .menu-footer {
      .menu-section-text {
        margin: 2rem 9rem 1rem 9rem;
        .desktop-only {
          display: inline;
        }
      }
    }
    .menu-main {
      .menu-contents {
        max-width: 80rem;
        .menu-section {
          max-width: 80rem;
          .menu-item {
            padding: 0 5rem;
          }
        }
      }
    }
    .peanut-icon {
      height: 18px;
      width: 18px;
    }
    .spice-icon {
      height: 20px;
      width: 25px;
    }
    .spice-icon-narrow {
        margin-left: -15px;
    }  
  }
}